<!DOCTYPE html>
<html lang="en">
{% macro embed(obj) -%}
<div class="bk-root" id="{{ obj.elementid }}"{% if obj.id %} data-root-id="{{ obj.id }}"{% endif %}></div>
{%- endmacro %}
{% block head %}
<head>
    {% block inner_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>

    {% block preamble %}{% endblock %}

    {% block resources %}
        {% block css_resources %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        </style>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/script.js"></script>
        {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}

        {% block js_resources %}
        {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
    {% endblock %}
    {% block postamble %}{% endblock %}
    {% endblock %}
</head>
{% endblock %}
{% block body %}

<body>
  <header class="w3-bar w3-green">
    <img src="static/img/logo.png" class="w3-image w3-margin" width="100" height="100">


    <div onclick="switch_lang()" class="w3-right w3-button">{{lang_sw}}</div>
    <div onclick="home()" class="w3-right w3-button">{{home_button_text}}</div>
  </header>

  <div class="w3-container w3-center w3-border w3-border-red w3-round-xxlarge w3-center w3-margin w3-grey">
    <p class="welcome_text">
      {{welcome_text}}
    </p>
  </div>

  <div class="w3-row w3-margin w3-padding">
    <div class="w3-row w3-green">
      <div class="w3-container w3-padding w3-green w3-dropdown-click w3-col l1 m2 s3">
        <button onclick="mainDropdown()" class="w3-button w3-black" style="min-width: 100%">
          {{gene_choice_button_text}}
        </button>
        <div id="gene" class="w3-dropdown-content w3-bar-block w3-border" style="max-height:250px; overflow:auto;"></div>
      </div>
      <div class="w3-container w3-col l1 m1 s1"></div>
      <div class="w3-container w3-padding w3-green w3-dropdown-click w3-col l1 m2 s3" id="mutation">
        <button class="w3-button w3-black" id="mutationDropdownButton" style="min-width: 100%">
          {{mutation_choice_button_text}}
        </button>
      </div>
      <div class="w3-container w3-green w3-padding w3-col l7 m3 s2"></div>
      <div onclick="updateMutation('{{mutation}}')" class="w3-button w3-col l2 m4 s3" id="updateMutation">
        <p>{{update_mutation_button_text}}:</p>
        <p class="w3-strong" id="updateMutationText">
          {{mutation}}
        </p>
      </div>
    </div>
    <div class="w3-row w3-green">
      <div class="w3-container w3-padding-24 w3-col l10 m9 s8">
        <div id="dateRangeSlider"></div>
      </div>
      <div onclick="updateDate('{{min_date}}', '{{max_date}}')" class="w3-green w3-button w3-col l2 m3 s4" id="updateDate">
        <p>{{update_date_button_text}}:</p>
        <p class="w3-strong" id="updateDateText">
          {{min_date}} - {{max_date}}
        </p>
      </div>
    </div>
    <p class="w3-strong info_header_text">
      {{mutation_info_header}}
    </p>
    <div class="w3-border">
      <div id="coronaplot"></div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
   <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
  <script>
    var mutations = {{mutations_names}};
    init(mutations);
  </script>
</body>
{% endblock %}
</html>
