<!DOCTYPE html>
<html lang="en">
{% macro embed(obj) -%}
<div class="bk-root" id="{{ obj.elementid }}"{% if obj.id %} data-root-id="{{ obj.id }}"{% endif %}></div>
{%- endmacro %}
{% block head %}
<head>
    {% block inner_head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>
    {% block preamble %}{% endblock %}

    {% block resources %}
        {% block css_resources %}
        {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}

        {% block js_resources %}
        {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
    {% endblock %}

    {% block postamble %}{% endblock %}
    {% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
  <div id="coronacontrols">
    <script>
    fetch('/controls?lang={{lang}}')
        .then(function(response) { return response.json(); })
        .then(function(item) { return Bokeh.embed.embed_item(item, "coronacontrols"); })
    </script>
  </div>
  <div id="coronaplot">
    <script>
    fetch('/plot?mutation={{mutation}}&lang={{lang}}')
        .then(function(response) { return response.json(); })
        .then(function(item) { return Bokeh.embed.embed_item(item, "coronaplot"); })
    </script>
  </div>
  <div id="coronatext">
    <script>
    fetch('/text?mutation={{mutation}}&lang={{lang}}')
        .then(function(response) { return response.json(); })
        .then(function(item) { return Bokeh.embed.embed_item(item, "coronatext"); })
    </script>
  </div>
{% endblock %}
</html>
