<!DOCTYPE html>
<html lang="en">
{% macro embed(obj) -%}
<div class="bk-root" id="{{ obj.elementid }}"{% if obj.id %} data-root-id="{{ obj.id }}"{% endif %}></div>
{%- endmacro %}
{% block head %}
<head>
    {% block inner_head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>

    {% block preamble %}{% endblock %}

    {% block resources %}
        {% block css_resources %}
        {{ bokeh_css | indent(8) if bokeh_css }}
        <link rel="stylesheet" href="static/assets/tether/tether.min.css">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="static/assets/theme/css/style.css">
        <link rel="preload" as="style" href="static/assets/mobirise/css/mbr-additional.css">
        <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
        <link rel="stylesheet" href="static/css/style.css">
        {% endblock %}

        {% block js_resources %}
        {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
    {% endblock %}

    {% block postamble %}{% endblock %}
    {% endblock %}
</head>
{% endblock %}
{% block body %}
<body>

    <section>
      <div id="coronacontrols" class="row justify-content-end">
        <script>
        fetch('/controls?lang={{lang}}')
            .then(function(response) { return response.json(); })
            .then(function(item) { return Bokeh.embed.embed_item(item, "coronacontrols"); })
        </script>
      </div>
  </section>

  <section class="image1 cid-suyHhN56z8" id="image1-7">
    <div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <div class="image-wrapper">
                  <div id="coronaplot">
                    <script>
                    fetch('/plot?mutation={{mutation}}&lang={{lang}}')
                        .then(function(response) { return response.json(); })
                        .then(function(item) { return Bokeh.embed.embed_item(item, "coronaplot"); })
                    </script>
                  </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>{{mutation}}</strong></h3>
                          <p class="mbr-text mbr-fonts-style display-7">{{mutation_info}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
